html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: #2a2e32 !important;
}

body {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-weight: 700;
    margin-bottom: 30px;
}

h2 {
    font-weight: 600;
    margin-top: 40px;
    padding-bottom: 5px;
}

h3 {
    margin-top: 30px; 
}

p,
ul,
ol {
    font-size: 1rem;
    line-height: 1.6;
}

ul,
ol {
    margin-left: 20px;
}

.section-title {
    margin-bottom: 50px;
}

.code-snippet {
    background-color: #1e1e1e;
    color: #f8f8f2;
    border-radius: 8px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-top: 10px;
    border: 1px solid #444;
    overflow-x: auto;
}

.code-snippet code {
    display: block;
    padding: 0;
    background-color: transparent;
    border: none;
    color: #f8f8f2;
}

.toolbar {
    margin-bottom: 20px;
}

.token.keyword {
    color: #569cd6;
}

.token.function {
    color: #dcdcaa;
}

.token.string {
    color: #ce9178;
}

.token.comment {
    color: #6a9955;
}

.token.variable {
    color: #9cdcfe;
}

.token.number {
    color: #b5cea8;
}

.token.class-name {
    color: #4ec9b0;
}

.lead {
    font-size: 1.25rem;
    font-weight: 400;
}

.btn-custom {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s;
}

.btn-custom:hover {
    background-color: #555;
}

.copy-to-clipboard-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-size: 0.875rem;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.copy-to-clipboard-button:hover {
    background-color: #444;
}

.popup {
    display: none;
    position: absolute;
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 0.875rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s ease, top 0.3s ease;
}

.popup.show {
    display: block;
    opacity: 1;
}

button {
    position: relative;
}

.link-custom {
    color: var(--bs-code-color);
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
    background: var(--bs-secondary-text-emphasis) !important;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    background: none !important;
}

code[class*="language-"],
pre[class*="language-"] {
    text-shadow: none !important;
}

.custom-btn {
    color: #fff;
    background-color: #d63384;
    border-color: #d63384;
}

.custom-btn:hover {
    color: #fff;
    background-color: #c52e76;
    border-color: #c52e76;
}

.custom-btn:focus,
.custom-btn.focus {
    box-shadow: 0 0 0 0.2rem rgba(214, 51, 132, 0.5);
}

.custom-btn.disabled,
.custom-btn:disabled {
    background-color: #d63384;
    border-color: #d63384;
}

.custom-btn:not(:disabled):not(.disabled).active,
.custom-btn:not(:disabled):not(.disabled):active {
    background-color: #c52e76;
    border-color: #c52e76;
    box-shadow: none;
}

.custom-lead {
    padding-top: 2rem;
}

.footer {
    background-color: #2a2e32 !important;
    color: white !important;
}

.footer-text {
    padding: 20px;
}

.footer-text a {
    color: #fff;
    /* White color for the icons */
    text-decoration: none;
}

.footer-text a:hover {
    color: #007bff;
    /* Blue color on hover */
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fab,
.fas {
    font-size: 24px;
}

.custom-icon {
    color: #e0e0e0;
    transition: color 0.3s ease;
}

/* Hover effect */
.custom-icon:hover {
    color: #d63384;
}

.custom-icon:active,
.custom-icon:focus {
    color: #c52e76;
}

.page-navigation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.page-navigation-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.page-navigation-button {
    max-width: 200px;
    width: 100%;
    margin-bottom: 1rem;
    background-color: #d63384;
    color: white;
    border: none;
    font-size: 1rem;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.page-navigation-button:hover {
    background-color: #b02a6b;
}

.page-navigation-button.mb-md-0 {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .page-navigation-buttons {
        flex-direction: row;
        align-items: center;
        gap: 5rem;
    }

    .page-navigation-button {
        margin-bottom: 0;
    }
}

@media (max-width: 767px) {
    .page-navigation-button {
        width: 90%;
        margin-bottom: 1rem;
    }
}